<app-toolbar></app-toolbar>
<div class="container">
	<h2>Hello {{userName}},</h2>
	<div class="filters" fxLayout="row" fxLayoutAlign="space-between center">
		<mat-form-field appearance="outline">
			<mat-label>Select date range</mat-label>
			<mat-date-range-input [formGroup]="dateRange" [rangePicker]="dateRangePicker">
				<input matStartDate (dateChange)="fetchItems()" placeholder="Start date" formControlName="start">
				<input matEndDate (dateChange)="fetchItems()" placeholder="End date" formControlName="end">
			</mat-date-range-input>
			<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
			<mat-date-range-picker #dateRangePicker></mat-date-range-picker>
		</mat-form-field>
		<button mat-stroked-button color="primary" (click)="addItem()">
			<mat-icon>add</mat-icon> Add Food
		</button>
	</div>
	<mat-divider></mat-divider>
	<div class="summary">
		<h3 class="warning-color">Daily limit Warning!:</h3>
		<ul>
			<li *ngFor="let item of summary">{{item.date}}: <i>Calories: {{item.calories}} by User:
					{{item.userName}}</i></li>
		</ul>
	</div>
	<mat-divider></mat-divider>
	<app-calorie-table [calorieData]="userCalorieData"></app-calorie-table>
</div>