<div class="dialog-container">
	<form [formGroup]="calorieItemFormGroup">
		<h2 mat-dialog-title>{{data?.calorieItem ? 'Edit': 'Add'}} Item</h2>
		<button mat-icon-button type="button" class="close-button" mat-dialog-close>
			<mat-icon>close</mat-icon>
		</button>
		<div mat-dialog-content class="card">
			<div class="field-container">
				<mat-form-field class="full-width" appearance="outline">
					<input matInput type="text" id="item" formControlName="item" placeholder="Item Name">
				</mat-form-field>
			</div>
			<div class="field-container">
				<mat-form-field class="full-width" appearance="outline">
					<input matInput type="number" id="calories" formControlName="calories" placeholder="No Of Calories">
				</mat-form-field>
			</div>
			<div class="field-container">
				<mat-form-field class="full-width" appearance="outline">
					<input matInput [ngxMatDatetimePicker]="entryTime" placeholder="Choose a date"
						formControlName="entryTime" [max]="today">
					<mat-datepicker-toggle matSuffix [for]="$any(entryTime)"></mat-datepicker-toggle>
					<ngx-mat-datetime-picker #entryTime [showSpinners]="true" [enableMeridian]="true">
					</ngx-mat-datetime-picker>
				</mat-form-field>
			</div>
			<div *ngIf="userData?.isAdmin" class="field-container">
				<mat-form-field class="full-width" appearance="outline">
					<mat-select id='user' formControlName="userId" placeholder="Select User">
						<mat-option *ngFor="let user of users" [value]="user._id">
							{{user.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<mat-divider></mat-divider>
		<div mat-dialog-actions align="end">
			<button mat-stroked-button type="submit" color="primary" (click)="saveData()">Save</button>
			<button mat-stroked-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
		</div>
	</form>
</div>